* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}

body {
    background-image: url("images/bg-pattern-top.svg"), url("images/bg-pattern-bottom.svg");
    background-position: left -220px top -390px, right -200px bottom -450px;
    background-size: 45rem;
    background-color: hsl(185, 75%, 39%);
    background-repeat: no-repeat, no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 700px) {
    body {
        background-position: left -401px top -480px, right -404px bottom -455px;
    }

}

.card {
    width: 80%;
    max-width: 400px;
}

.person {
    background-image: url("images/bg-pattern-card.svg");
    height:150px;
    display: flex;
    justify-content: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.img {
    border-radius: 100%;
    transform: translateY(42px);
    height: 85px;
    border: 3px solid white;
    align-self: flex-end;
}


.text-card {
    background-color: white;
    padding: 40px;
    text-align: center;
}

.text-card-footer {
    border-top: 1px solid hsl(0, 0%, 91%);
}

.footer-card {
    display: flex;
    justify-content: space-around;
    background-color: white;
    padding: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.name {
    font-size: 18px;
    color: hsl(229, 23%, 23%);
    margin-top: 20px;
    font-weight: 700;
}

.age {
    font-size: 18px;
    color: hsl(0, 0%, 59%);
    font-weight: 400;
}

.city {
    font-size: 14px;
    color: hsl(0, 0%, 59%);
    margin-top: 10px;
    font-weight: 400;
}

.text {
    text-align: center;
}

.stats {
    font-weight: 700;
    font-size: 18px;
    color: hsl(229, 23%, 23%);
}

.stats-text {
    font-size: 13px;
    color: hsl(0, 0%, 59%);
    font-weight: 400;
    padding-top: 6px;
}